.form-group
	= link_to "create new article",new_article_path,{class: "btn btn-primary"}
%table
	%tr
		%th Tittle
		%th Description
		%th 	Action	
	- obj.each do |article|
		.row
			.col-xs-12
				.well.well-lg
					.article-details
						%h2 title
						#{article.title}
						%h2 Description
						#{article.description}
					.actions
						= link_to "Show",article_path(article),{class: "btn btn-success"}
						= link_to "Edit",edit_article_path(article),{class: "btn btn-success"}
						= link_to 'Destroy', article_path(article),method: :delete,data: { confirm: 'Are you sure?' },class: "btn btn-danger"
					.user-details
						%small	created by: #{article.user.username if article.user} ,updated at: #{article.updated_at}
