- if @article.errors.any?
  %ul
    - @article.errors.full_messages.each do |msg|
      %li
        #{msg}
.row
  .col-xs-12
    = form_for @article, html: {role: "form"} do |f|
      .form-group
        .control-label.col-sm-2
          = f.label :title
        .control-label.col-sm-10
          = f.text_field :title, {class: "form-control"}
      .form-group
        .control-label.col-sm-2
          = f.label :Description
        .control-label.col-sm-10
          = f.text_area :description, {class: "form-control",rows:10}
          = f.submit "Create Article", {class: "btn btn-primary"}
      .forrm-group

        = f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|
          %li
            = b.label
            = b.check_box
